.Input {
  display: grid;
  grid-template-columns: auto;

  @media (max-width: 800px) {
    // grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    // grid-template-columns: min-content(200px) max-content(800px) fit-content(
    //     5px
    //   );
    grid-template-columns: 500px;
    justify-content: center;
  }
  &I {
    border-radius: 8px;
    padding: 5px;
    font: 18px bold;
  }
}
