@import "./properties.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  box-shadow: $box-shadow;
}
body {
  box-sizing: border-box;
  font-size: 20px;
  background: var(#{--body-background-default});
  color: var(#{--text-color-default});
  border: 1px solid rgba(117, 130, 244, 0.8);
  backdrop-filter: blur(250px);
}

#root {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1400px;
  font-size: 1.4rem;
  @media (max-width: 1780px) {
    grid-template-columns: 1200px;
    font-size: 1.3rem;
  }
  @media (max-width: 1500px) {
    grid-template-columns: 1000px;
    font-size: 1.2rem;
  }
  @media (max-width: 1240px) {
    grid-template-columns: 800px;
    font-size: 1.1rem;
  }
  @media (max-width: 800px) {
    grid-template-columns: 500px;
    font-size: 0.9rem;
  }

  @media (max-width: 550px) {
    grid-template-columns: 300px;
  }
}
