@import "./properties.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
body {
  box-sizing: border-box;
  font-size: 20px;
  background: var(#{--body-background-default});
}
code {
}
#root {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1400px;
  @media (max-width: 1700px) {
    grid-template-columns: 1200px;
    font-size: 20px;
  }
  @media (max-width: 1450px) {
    grid-template-columns: 1000px;
    font-size: 18px;
  }
  @media (max-width: 1200px) {
    grid-template-columns: 800px;
    font-size: 16px;
  }
  @media (max-width: 830px) {
    grid-template-columns: 500px;
    font-size: 14px;
  }
  @media (max-width: 550px) {
    grid-template-columns: 300px;
    font-size: 12px;
  }
}
