$primary-color: #4793ff;
$light-background: rgba(#eee, 0.3);
$box-shadow: -40px 60px 170px rgba(59, 38, 123, 0.3);
$border-radius: 20px;

$light-color: #ffffff;
$dark-color: #f2f2f2;
$base-color: #939cb0;
$light-hover-color: rgb(128, 135, 139);

$body-background-dark: rgba(148, 9, 255, 0.411);
$body-background-light: #1b0a31;

$components-background-dark: #6b6969;
$components-background-light: #fff;

$card-background-light: linear-gradient(
  89.95deg,
  rgba(182, 182, 182, 0.2) 1.8%,
  rgba(67, 66, 90, 0) 105.69%
);
$card-background-dark: #3d3c3c;

$card-box-shadow-light: 0px 3px 20px rgba(147, 144, 144, 0.28);
$card-box-shadow-dark: 0px 3px 20px rgba(5, 5, 5, 0.28);
%button-template {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.3s ease;
  font-size: 1.2rem;
  @media (max-width: 1780px) {
    font-size: 1.1rem;
  }
  @media (max-width: 1500px) {
    font-size: 1rem;
  }
  @media (max-width: 1240px) {
    font-size: 1rem;
  }
}
:root {
  //body-background
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});

  //components-background
  --components-background-dark: #{$components-background-dark};
  --components-background-light: #{$components-background-light};
  --components-background-default: var(#{--components-background-light});

  //card-background
  --card-background-dark: #{$card-background-dark};
  --card-background-light: #{$card-background-light};
  --card-background-default: var(#{--card-background-light});

  //card-shadow
  --card-shadow-dark: #{$card-box-shadow-dark};
  --card-shadow-light: #{$card-box-shadow-light};
  --card-shadow-default: var(#{--card-shadow-light});

  //text
  --text-color-dark: #{$dark-color};
  --text-color-light: #{$light-color};
  --text-color-hover-light: #{$light-hover-color};
  --text-color-default: var(#{var(--text-color-light)});
  --text-color-hover-default: var(#{--text-color-hover-light});
}
