body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  align-content: center;
  grid-template-columns: 800px;
  @media (max-width: 790px) {
    grid-template-columns: 500px;
    justify-content: center;
  }
  @media (max-width: 550px) {
    grid-template-columns: 300px;
    justify-content: center;
  }
}
